<!--
  CODE BELOW DOESN'T WORK AS SMOOTH AS NEEDS TO BE SO WHEN NO RECIPES ARE FOUND BLANK PAGE IS LEFT TO BE DISPLATED
  WHICH SHOULD BE FIXED LATER ON!
-->
<div *ngIf="recipes?.length > 0; else noRecipes"></div>

<ng-template #noRecipes>
  <hr class="loadingLine" color="white">
  <h4 class="text-center" style="color:snow">Няма налични рецепти</h4>
  <hr class="loadingLine" color="white">
  <button mat-raised-button class="primary" id="#noRecipeBtn" (click)="noRecipe()">Добавете вашите идеи !</button>
</ng-template>


<mat-card class="card card-1" *ngFor="let recipe of recipes">
  <div class="img__wrap ">
    <img class="img" src="{{recipe.imagePath}}">
    <star-rating [starType]="'svg'" [rating]='5'></star-rating>
  </div>
  <mat-card-title class="title__wrap">
    <mat-card-title-text>
      <span class="md-headline">{{recipe.name}}</span>
    </mat-card-title-text>
  </mat-card-title>
  <mat-card-subtitle class="time">Описание: {{recipe.description}}
  </mat-card-subtitle>
  <mat-card-subtitle class="time">Изготвил: {{recipe.author}}
  </mat-card-subtitle>
  <mat-card-actions class="actions" *ngIf="admin === 'admin@admin.com'">
    <button mat-raised-button id="editBtn" (click)="openDialog()">Редактирай</button>
    <button mat-raised-button id="deleteBtn" (click)="deleteRecipe($event, recipe)">Изтрий</button>
  </mat-card-actions>
</mat-card>
<alert-app></alert-app>