body,
html {
  height: 100%;
  margin: 0;
}
.title__body {
  margin-left: 100px;
  margin-top: 45px;
}

.card__wrapper {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
}

.card {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 48vw;
  margin: 1rem;
  position: relative;
  width: 30vw;
  margin-bottom: 50px;
  float: left;
  font-size: 16px !important;
}

.card-1 {
  display: flex;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 7px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.actions {
  text-align: center;
  font-stretch: 100%;
  float: right;
  padding: 5px;
  max-width: 100%;
}

.time {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  padding: 5px;
  vertical-align: left;
}

.button {
  border: 0;
  border-radius: 2px;
  box-shadow: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px;
  padding: 5px;
  position: relative;
  align-items: right;

  &:hover {
    background-color: #d3d3d3;
  }
}

.md-headline {
  font-size: 22px;
  text-align: left;
}

.img {
  width: 100%;
  border-radius: 4px;

  &:hover {
    opacity: 0.5;
  }
}

.img__wrap {
  width: 100%;

  &:hover {
    border-radius: 4px;
    background-color: black;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    //display: inline-block;

    .img__text {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      color: white;
      font-size: 18px;
      height: 100%;
      line-height: 200px;
      opacity: 1;
      //position: absolute;
      text-align: center;
      transition: opacity 0.6s;
      vertical-align: middle;
      width: 100%;
    }
  }
}

.img__text {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  opacity: 0;
}

.text__container {
  //display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title__wrap {
  margin-left: 10px;
  padding: 5px;
  width: 100%;
}

@media screen and (max-width: 40em) {
  .card {
    height: 45vw;
    width: 40vw;
  }
}

@media screen and (max-width: 80em) {
  .card__wrapper {
    flex-wrap: column;
  }

  body {
    background-color: purple;
  }

  .card {
    height: 35vw;
    width: 30vw;
  }
}

@media screen and (max-width: 40em) {
  .card__wrapper {
    flex-wrap: column;
  }

  .card {
    height: 60vw;
    width: 55vw;
  }
}

.header {
  font-weight: 100;
  font-size: 30px;
  margin: 0;
  width: 100%;
}

.progress {
  float: right;
}

#editBtn {
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #00f260 0%, #05e690 51%, #00f260 100%);
  box-shadow: 0 4px 15px 0 rgba(0, 242, 96, 0.712);
}

#editBtn:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#editBtn:focus {
  outline: none;
}

#deleteBtn {
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #f00000 0%, #dc281e 51%, #f00000 100%);
  box-shadow: 0 4px 15px 0 rgba(240, 0, 0, 0.712);
}

#deleteBtn:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#deleteBtn:focus {
  outline: none;
}
.loadingLine {
  color: snow;
  width: 80%;
}

#noRecipeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #00f260 0%, #05e690 51%, #00f260 100%);
  box-shadow: 0 4px 15px 0 rgba(0, 242, 96, 0.712);
}

#noRecipeBtn:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#noRecipeBtn:focus {
  outline: none;
}

#edit-container {
  // width: 100%;
  // margin-top: 2rem;
  // flex-direction: column !important;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 70%;
  margin-left: 20%;
}

#example-container {
  margin-top: 8rem;
}

// .form-field-width {
//   width: 100%;
//   text-align: center;
// }

// .mat-form-field-appearance-legacy .mat-form-field-infix {
//   width: 100%;
//   margin-left: 2rem;
// }

#dialogEditBtn {
  margin-top: 3rem;
  margin-left: 36%;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #00f260 0%, #05e690 51%, #00f260 100%);
  box-shadow: 0 4px 15px 0 rgba(0, 242, 96, 0.712);
}

#closeImg {
  float: right;
  width: 32px;
}

#closeImg:hover {
  cursor: pointer;
  opacity: 0.5;
}

.editFormField {
  width: 80%;
  margin-left: 10%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px inherit inset;
  transition: background-color 5000s ease-in-out 0s;
}

select.mat-input-element {
  text-align: center;
}

#editDesc,
#editImg {
  margin-top: 1.5rem;
}

#editTitle {
  margin-top: 5rem;
}
