a{
    text-decoration: none;
}
.privacyLinks{
    text-decoration: none;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
    */
  background-attachment: fixed;
}

.parallax1 {
  background-image: url("https://i.imgur.com/r7eybNi.jpg");
  min-height: 500px;
}

.parallax2 {
  background-image: url("https://i.imgur.com/DLrFub8.jpg");
  min-height: 500px;
}

.parallax3 {
  background-image: url("https://i.imgur.com/imGpLtz.jpg");
  min-height: 500px;
}

.parallax4 {
  background-image: url("https://i.imgur.com/l4GTXVV.jpg");
  min-height: 500px;
}

.psection {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #424242;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 36px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

section > ul {
  text-decoration: none;
}

@media (max-width: 568px){
    .parallax1, .parallax2, .parallax3, .parallax4{
        background-attachment: scroll;
    }
}