<div class="parallax1">
    <div class="ptext">
        <span class="pborder">
            <h1>Поверителност и Политика</h1>
        </span>
    </div>
</div>

<section class="psection section-light">
    <h2>Информацията която събираме</h2>

    <p>DailyDelight™ ("нас", "ние", или "нашата") организация оперира уебсайтът <a
            href="https://daily-delight.azurewebsites.net">DailyDelight.</a>
    </p>

    <p>Ние използваме вашите данни за предоставяне и подобряване на услугата. Използвайки Услугата, Вие се съгласявате
        със събирането и използването на
        информация в съответствие с тази политика. Освен ако не е определено друго в тази Декларация за
        поверителност, термините използвани в това
        Декларацията за поверителност има същите значения, както в нашите Общи условия, достъпни от
        https://daily-delight.azurewebsites.net</p>

    <p>Ние събираме няколко различни вида информация за различни цели, за да ви предоставим и подобрим нашата услуга.
    </p>
</section>

<div class="parallax2">
    <div class="ptext">
        <span class="pborder">
            <h1>Видове събирани данни</h1>
        </span>
    </div>
</div>

<section class="psection section-dark">
    <h4>Лични данни</h4>

    <p>Докато използваме нашата услуга, можем да ви помолим да ни предоставите определена лична информация, която може
        бъда използвани за връзка или идентифициране на вас ("Лични данни").</p>

    <br>
    <p><strong>Имейл адрес</strong></p>
    <p><strong>Бисквитки и данни за използването</strong></p>

    <h4>Данни за използване</h4>

    <p>Можем също така да събираме информация за това как се използва и използва Услугата ("Данни за използване"). Тези
        данни за използване могат да включват
        информация като адрес на интернет протокола на компютъра ви (напр. IP адрес), тип на браузъра, версия
        на браузъра,на уникални страници на нашата услуга, които посещавате, часа и датата на вашето посещение, времето,
        прекарано на тези страници приспособление идентификатори и други диагностични данни.</p>
</section>

<div class="parallax3">
    <div class="ptext">
        <span class="pborder">
            <h1>Проследяване и данни за „бисквитки“</h1>
        </span>
    </div>
</div>

<section class="psection section-dark">
    <p>Използваме „бисквитки“ и подобни технологии за проследяване, за да следим дейността в нашата услуга и да сме
        сигурни информация.
    </p>
    <p>Бисквитките са файлове с малко количество данни, които могат да включват анонимен уникален идентификатор.
        Бисквитките се изпращат до
                 браузъра ви от уебсайт и съхранени на устройството ви. Използваните технологии за проследяване са
        маяци, етикети и
                 скриптове за събиране и проследяване на информация и за подобряване и анализ на нашата услуга.</p>
    <p>Можете да инструктирате браузъра си да откаже всички „бисквитки“ или да посочи кога се изпраща „бисквитка“.
        Въпреки това, ако вие правя не приемате „бисквитки“, може да не можете да използвате някои части от нашата
        услуга.</p>
    <p>Примери за „бисквитки“, които използваме:</p>
    <br>
    <p><strong>Бисквитки за сесия.</strong> Ние използваме сесийни бисквитки, за да управляваме нашата услуга.</p>
    <p><strong>Предпочитани Cookies.</strong> Използваме Предпочитани Cookies, за да запомним вашите предпочитания и
        различни настройки.</p>
    <p><strong>Бисквитки за сигурност.</strong> Използваме защитните бисквитки за целите на сигурността.</p>


</section>

<div class="parallax4">
    <div class="ptext">
        <span class="pborder">
            <h1>Сигурност на данните</h1>
        </span>
    </div>
</div>

<section class="psection section-light">

    <p>Сигурността на вашите данни е важна за нас, но не забравяйте, че няма метод за предаване по интернет, или
        Методът за електронно съхранение е 100% сигурен. Докато ние се стремим да използваме търговски
        приемливи средства за защита на вашите лични данни, ние не можем да гарантираме абсолютната сигурност.</p>

    <h2>Доставчици на услуги</h2>
    <p>Можем да наемем трети лица и физически лица, за да улесним предоставянето на нашите услуги ("Доставчици на
        услуги") на Обслужване от наше име, за извършване на услуги, свързани с услугите, или за да ни помогне да
        анализираме как се използва нашата услуга.
    </p>
    <p>Тези трети страни имат достъп до вашите лични данни само за да изпълняват тези задачи от наше име и са задължени
        не да я разкрие или използва за други цели.</p>
</section>