<div class="parallax1">
    <div class="ptext">
        <span class="pborder">
            <h1>Privacy & Policy</h1>
        </span>
    </div>
</div>

<section class="psection section-light">
    <h2>Information Collection And Use</h2>

    <p>DailyDelight ("us", "we", or "our") operates the <a
            href="https://daily-delight.azurewebsites.net">DailyDelight</a>
        website (the "Service").</p>


    <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of
        information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this
        Privacy Policy have the same meanings as in our Terms and Conditions, accessible from
        https://daily-delight.azurewebsites.net</p>

    <p>We collect several different types of information for various purposes to provide and improve our Service to you.
    </p>
</section>

<div class="parallax2">
    <div class="ptext">
        <span class="pborder">
            <h1>Types of Data Collected</h1>
        </span>
    </div>
</div>

<section class="psection section-dark">
    <h4>Personal Data</h4>

    <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can
        be
        used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not
        limited to:</p>

    <ul>
        <li>Email address</li>
        <li>Cookies and Usage Data</li>
    </ul>

    <h4>Usage Data</h4>

    <p>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include
        information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version,
        the
        pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique
        device
        identifiers and other diagnostic data.</p>
</section>

<div class="parallax3">
    <div class="ptext">
        <span class="pborder">
            <h1>Tracking & Cookies Data</h1>
        </span>
    </div>
</div>

<section class="psection section-dark">
    <p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain
        information.
    </p>
    <p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to
        your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and
        scripts to collect and track information and to improve and analyze our Service.</p>
    <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you
        do
        not accept cookies, you may not be able to use some portions of our Service.</p>
    <p>Examples of Cookies we use:</p>
    <ul>
        <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
        <li><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various
            settings.</li>
        <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
    </ul>


</section>

<div class="parallax4">
    <div class="ptext">
        <span class="pborder">
            <h1>Security Of Data</h1>
        </span>
    </div>
</div>

<section class="psection section-light">
    
    <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or
        method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect
        your
        Personal Data, we cannot guarantee its absolute security.</p>

    <h2>Service Providers</h2>
    <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide
        the
        Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.
    </p>
    <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated
        not
        to disclose or use it for any other purpose.</p>
</section>