#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.212) !important;
  height: 60px;
}

.footerLinks {
  text-decoration: none;
  color: #c2185b;
}

#footer > p {
  margin: 0px;
  color: #c2185b;
}
