<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)}" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>{{ shortTitle }}
      <button type="button" class="close" id="menuCloseBtn" aria-label="Close" (click)="drawer.toggle()">
        <span aria-hidden="true" style="font-size: 25px !important;">&times;</span>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/register">Register</a>
      <a mat-list-item routerLink="/privacy">Privacy & Policy</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <img class="img-fluid" src="../../../assets/icons/favicon.ico" id="navLogo">
      </div>
      <span id="navHeading"><strong>{{ title }}</strong></span>
      <span class="firstSpacer"></span>
      <a routerLink="/home" class="toolbar-links">Home</a>
      <a routerLink="/privacy" class="toolbar-links">Privacy & Policy</a>
      <span class="secondSpacer"></span>
      <a routerLink="/login" class="toolbar-links">Login
        <img src="../../../assets/icons/login_icon.png" id="logIcon"></a>
      <a routerLink="/register" class="toolbar-links">Register
        <img src="../../../assets/icons/register_icon.png" id="regIcon"></a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>