.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

#navLogo {
  height: 40px;
  margin-right: 0.5rem;
}

#menuCloseBtn {
  color: #ffffff;
  opacity: 1;
  margin-left: 1.5rem;
}

#menuCloseBtn:hover {
  color: #c2185b;
  text-shadow: none;
}

.secondSpacer {
  flex: 2 1 auto;
}

.firstSpacer {
  flex: 0.1;
}

.toolbar-links {
  display: inline-block;
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

.toolbar-links:hover {
  color: #424242;
}

@media (max-width: 700px) {
  #navLogo {
    display: none;
  }
}

@media (max-width: 900px) {
  #privacyLink {
    display: none;
  }
}

@media (max-width: 900px) {
  #navHeading {
    display: none;
  }
}

@media (max-width: 530px) {
  #homeLink,
  #recipesLink {
    display: none;
  }
  .secondSpacer {
    flex: 0.4;
  }
  #loginLink {
    padding-right: 2rem;
  }
}

#linkLogo {
  text-decoration: none;
  color: #ffff;
}

#linkLogo:hover {
  color: #ffff;
  text-decoration: none;
}
