<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)}" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>{{ shortTitle }}
      <button type="button" class="close" id="menuCloseBtn" aria-label="Close" (click)="drawer.toggle()">
        <span aria-hidden="true" style="font-size: 25px !important;">&times;</span>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Начало</a>
      <a mat-list-item routerLink="/recipes" *ngIf="user">Рецепти</a>
      <a mat-list-item routerLink="/privacy">Поверителност и политика</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <a routerLink="/home" style="text-decoration: none;">
          <img class="img-fluid" src="../../../assets/icons/favicon.ico" id="navLogo">
          <span id="navHeading"><strong id="linkLogo">{{ title }}</strong></span>
        </a>
      </div>
      <span class="firstSpacer"></span>
      <a routerLink="/privacy" class="toolbar-links" id="privacyLink">Поверителност и Политика</a>
      <a routerLink="/home" class="toolbar-links" id="homeLink">Начало</a>
      <a routerLink="/recipes" class="toolbar-links" id="recipesLink" *ngIf="user">Рецепти</a>
      <a routerLink="/add-recipe" class="toolbar-links" id="" *ngIf="user">Добави Рецепта</a>
      <span class="secondSpacer"></span>
      <a routerLink="/login" class="toolbar-links" id="loginLink" *ngIf="!user">Влез
        <img src="../../../assets/icons/login_icon.png" id="logIcon"></a>
      <a routerLink="/register" class="toolbar-links" id="registerLink" *ngIf="!user">Регистрация
        <img src="../../../assets/icons/register_icon.png" id="regIcon">
      </a>
      <button type="button" mat-button (click)="logOut()" *ngIf="user">Излез
        <img src="../../../assets/icons/logout_icon.ico" id="logOutIcon">
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<alert-app></alert-app>