:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: rgb(255, 102, 0);
}

#loginBtn {
  margin-top: 1.5rem;
  width: 100%;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #c2185b 0%, #f3618f 51%, #c2185b 100%);
  box-shadow: 0 4px 15px 0 rgba(194, 24, 92, 0.712);
}

#loginBtn:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#loginBtn:focus {
  outline: none;
}

#loginBtn:disabled{
  background-image: linear-gradient(to right, #141313 0%, #571f30 51%, #18030b 100%);
}

#loginContainer {
  background-color: #424242;
}
