.example-container {
  flex-direction: column !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-container > * {
  width: 50%;
  margin-top: 2rem;
}

// .matInput {
//   text-align: center !important;
//   color: snow;
//   font-size: 20px;
// }

#hambImgTop {
  display: block;
  margin: 0.25rem auto 0 auto;
}

#hambImgBot {
  display: block;
  margin: 0.25rem auto 1.5rem auto;
}

.mat-form-field-appearance-legacy {
  color: white;
  text-align: center;
}

select.mat-input-element {
  text-align: center;
}

#addRecipeContainer {
  background-color: #424242;
  position: absolute;
  text-align: center;
  top: 64px;
  right: 0;
  bottom: -81px;
  left: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px inherit inset;
  transition: background-color 5000s ease-in-out 0s;
}
