<mat-card id="registerContainer">
    <mat-card-title>Регистрация</mat-card-title>
    <mat-card-content>
        <form [formGroup]="registerForm">

            <div class="form-group" id="emailContainer">
                <mat-form-field>
                    <input type="email" matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="email.invalid && email.touched">
                        Въведете правилен имейл !
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field id="passField">
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-error *ngIf="password.invalid && password.touched">
                        Паролата трябва да съдържа минимум 6 символа !
                    </mat-error>
                </mat-form-field>

            </div>

            <div class="form-group">
                <mat-form-field id="confPassField">
                    <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                    <mat-error *ngIf="confirmPassword.ConfirmPasswordValidator">
                        Паролите не съвпадат !
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="button">
                <button type="submit" mat-button id="registerBtn" [disabled]="registerForm.invalid"
                    (click)="tryRegister(registerForm.value)">Регистрирай се</button>
            </div>
            <hr>
            <div class="redirectToLogin">
                <span>Вече имаш акаунт?
                    <span class="redirect" routerLink="/login" id="logNowBtn">Влез!
                    </span>
                </span>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<alert-app></alert-app>